p {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* .D { 

border: 2px solid red;

}  */

#profile-pic {
  border-radius: 50%;
  width: 1.5rem;
}

header {
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(gray, black);
  background-repeat: no-repeat;
}

.Profile {
  display: flex;
}
.gradient {
  display: flex;
  align-items: end;
  white-space: nowrap;
  color: white;
}

.album {
  width: 15rem;
  object-fit: cover;
  border-radius: 5%;
  margin: 2rem;
}

.highlight {
  color: rgb(166, 166, 166);
}

.searchbar img {
  width: 100vw;
  object-fit: contain;
  margin: 0.5rem 0rem;
}

.searchbar img:hover {
  cursor: pointer;
}
